{% extends 'base.html' %}

{% block content %}

    <section class="content-section">
        <h2>Problems Solved</h2>

        <div class="problems-solved-list">
            {% if problems_solved %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Problem Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for problem in problems_solved %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ problem[0] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No problems solved yet.</p>
            {% endif %}
        </div>
    </section>

{% endblock %}
