<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Dakowdas</title>
        <link rel="stylesheet" href = "style.css">
    </head>
    <header>
        <div class = myheader>
            <div class="leftsectionofheader">
                <img class = "img-logo" src="img/logo.png" >
                <h1> Dakowdas </h1>
            </div>
            
            <div class = "contactusbutton" >
                <a href="contact.html">Contact Us</a>
            </div>
            

        </div>

    </header>
    <body>
        <nav> 
            <ul>
                <li><a href = "index.html">Home</a></li>
                <li><a href = "contests.html">Contests</a></li>
                <li><a href = "battles.html">Battles</a></li>
                <li><a href = "problems.html">Problems</a></li>
                <li><a href = "profile.html">Profile</a></li>
            </ul>
        </nav>

    </body>
</html>